body{
    background-color: black;
}
article{
    color: blueviolet;
    padding: 1.5rem;
}
p{
    color: blanchedalmond;
}
h2{
    color: rgb(209, 39, 96);
}

.resaltado{
    color: yellow;
}
#nombre_del_titulo{
   text-align: center; 
   font-size: 3rem;
}