body{
    background-color: rgb(245, 239, 239);
}

articles {
    color: cornflowerblue;
    padding: 1.5rem;
}

#nombre_del_grupo{
    text-align: center;
    font-size: 3rem;
}

.resaltado{
    color: yellow;
}

nav>ul>li{
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    text-decoration-color: #fff;
}

#footer_blog footer {
    margin: 2rem;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding-top: 4rem;

    padding-right: 0rem;

    padding-left: 0rem;

    font-size: 1.3em;;

}

#footer_blog div:nth child2 {
    font-size: 0.9rem;
}


.ilustracion figure {
    border: 4px solid ;
    color: white;
}

.ilustracion figurecaption {
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}
p{
    color: blanchedalmond;
}
h2{
    color: rgb(230, 100, 14);
}


article{
    border: 1px solid rgba(240, 239, 236, 0.938);
}

section{

    display: grid;

    grid-template-columns: repeat(12,1fr);

    grid-auto-rows: auto;

    gap: 3rem;
}

section>header {
    grid-column: span 12;
}

section>main {
    grid-column: span 8;
}

section>aside {
    grid-column: span 4;
}

section>footer {
    grid-column: span 12;
}

nav{
    text-align: 1.3rem;
}

a>li>ul>nav>{
    text-decoration: underline;
    color: greenyellow;
}

nav > ul {
    display: flex;

    align-items: center;

    justify-content: space-around;

    border-bottom: 1px solid #fff;

    padding-bottom: 0.5rem;
}

hgroup>header>article> {
    display: flex;

    align-items: center;

    justify-content: space-between;
}


h2>hgroup>header>article> {
    display: flex;

    align-items: center;
}

img>h2>hgroup>header>article>{
    margin: 1rem;

}

h2>aside>{
    align-content: center;
    text-align: 1.3rem;
}


div>aside:nth-of-type(pares){
   background-color: rgb(44,43,43);
}

aside>div>img>{
    background-color: #fff;

    padding: 0.5rem;

    border-radius: 50%;

}

.bengals{
    align-content: left;
}

.bengalies{
    align-content: center;
}

.f1{
    align-content: left;
}

.f1p{
    align-content: center;
}

