body{
    background-color: rgb(245, 239, 239);
}

articles{
    color: cornflowerblue;
    padding: 1.5rem;
}
p{
    color: blanchedalmond;
}
h2{
    color: rgb(230, 100, 14);
}


.resaltado{
    color: yellow;
}

#nombre_del_grupo{
    text-align: center;
    font-size: 3rem;
}